/* font style */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap');

body {
  font-family: "Inconsolata", monospace;
  font-size: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav styles */
.intro {
  display: flex;
  justify-content: space-between;
  padding: 48px 150px;
  /* background-color: brown; */
}

.intro h1 {
  width: 128px;
  height: 33px;
  font-weight: 900;

}

.intro button {
  /* margin-right: 150px; */
  padding: 17px 24px 17px 24px;
  border-radius: 8px;
  width: 244px;
  height: 57px;
  left: 1046px;
  top: 38px;
  gap: 10;
  font-size: 20px;
  font-weight: 600;
  color: rgb(13, 19, 33);
}

/* banner styles */
.banner {
  width: 100%;
  height: 652px;
  background-image: url(../assets/Hero-bg.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  width: 998px;
  height: 581px;
  margin: 26px 221px 45px 221px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.banner-content h1 {
  width: 998px;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}

.banner-content p {
  font-size: 16px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.banner-content button {
  border-radius: 8px;
  background: rgb(13, 19, 33);
  width: 230px;
  height: 65px;
  font-size: 20px;
  font-weight: 500;
  color: aliceblue;
  gap: 10;
}

/* reason-styles */
.reason {
  width: 1140px;
  height: 1393px;
  background-color: rgba(13, 19, 33, 0.02);
  padding: 80px 97px 80px 97px;
  margin: 74px auto;
}

.container {
  width: 946px;
  height: 1233px;
  /* background-color: brown; */
}

.reason-content {
  width: 852px;
  height: 113px;
  /* background-color: aquamarine; */
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
  margin-bottom: 24px;
}

.reason-content p {
  font-size: 16px;
  margin-top: 24px;
  color: rgb(13, 19, 33);
  font-weight: 400;
}

.reason-box {
  width: 946px;
  height: 336px;
  background-color: #fff;
  margin-bottom: 32px;
  padding: 48px;
}

.reason-sub-box {
  width: 850px;
  height: 240px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 32px;
}

.reason-content2 {
  width: 477px;
  height: 219px;
  /* background-color: brown; */
}

.reason-content2 h3,
p {
  margin-bottom: 32px;
}

.reason-content2 button {
  width: 171px;
  height: 47px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}

/* inspiration styles */
.inspiration {
  height: 614px;
  width: 1140px;
  /* background-color: brown; */
  margin: 90px auto;
}

.inspiration-content {
  height: 113px;
  width: 852px;
  /* background-color: black; */
  margin: 0 auto;
}

.inspiration-content h1 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.inspiration-content p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  color: rgb(13, 19, 33);
}

.inspiration-vdo {
  /* height: 550px;
  width: 100%; */
  /* background-color: black; */
  padding: 32px;
}

/* target styles */
.target {
  width: 1140px;
  height: 1437px;
  /* background-color: brown; */
  margin: 0 auto;
}

.current-content {
  text-align: center;
}

.current-content h1 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}

.current-content p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  width: 852px;
  margin-left: 144px;
}

.current-target-container {
  width: 1140px;
  height: 299px;
  display: flex;
  gap: 24px;
}

.current-target1,
.current-target2,
.current-target3 {
  width: 364px;
  height: 299px;
  /* background-color: black; */
  padding: 40px;
}

.current-target1 {
  background-color: rgb(255, 246, 244);
}

.current-target2 {
  background-color: rgb(242, 246, 254);
}

.current-target3 {
  background-color: rgb(255, 253, 242);
}

.current-target h2,
p,
button {
  margin-bottom: 24px;
}

.current-target h2 {
  font-size: 24px;
  font-weight: 800;
  margin-top: 24px;
}

.current-target p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
}

.current-target a {
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
  color: rgb(13, 19, 33);
}

.next-target-content {
  height: 113px;
  width: 946px;
  /* background-color: black; */
  margin: 111px auto;
  text-align: center;
  margin-bottom: 48px;
}

.next-target-content h1 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}

.next-target-content p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
}

.next-target {
  width: 1140px;
  height: 219px;
  padding: 40px;
  /* background-color: blanchedalmond; */
  margin-bottom: 24px;
  display: flex;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

.next-target-img img {
  /* background-color: white; */
  margin-top: 27.3px;
}

.next-target-cnt {
  width: 941.22px;
  height: 139px;
  /* background-color: brown; */
  align-items: center;
  margin-left: 24px;
}

.next-target-cnt h1 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 8px;
}

.next-target-cnt p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  line-height: 26px;
}

.next-target-cnt a {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-decoration-line: underline;
  color: rgb(13, 19, 33);
}

/* support styles */
.support {
  height: 313px;
  width: 1140px;
  /* background-color: burlywood; */
  margin: 0 auto;
  background-image: url(../assets/handshake.jpg);
  padding: 64px 48px;
  margin-bottom: 80px;
  background-size: 1140px 313px;
  background-position: center;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), url(Email);
  opacity: 0.4 black;
  /* background-repeat: no-repeat; */
  text-align: center;
  color: #fff;
}

.suport h3 {
  width: 292px;
  height: 36px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 16px;
}

.support p {
  width: 606px;
  height: 52px;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(255, 255, 255);
  margin-top: 16px;
  margin-left: 219px;
}

.support textarea {
  width: 548px;
  height: 57px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  padding: 19px 20px 19px 20px;
}

.support input[type="submit"] {
  border-radius: 8px;
  background: rgb(255, 255, 255);
  width: 120px;
  height: 57px;
  padding: 17px 20px 17px 20px;
  margin-bottom: 60px;
  margin-left: -350px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
}

.last {
  display: flex;
  justify-content: space-around;
}